@font-face {
  font-family: OldEnglishFive;
  src: url("fonts/old-english-five.regular.ttf");
}
@font-face {
  font-family: Canterbury;
  src: url("fonts/canterbury.regular.ttf");
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* Overlay Styles */
.button-style-1 {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #b80606;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}
.button-style-1 span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #b80606;
}
.button-style-1 span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.7s;
}
.button-style-1:hover {
  color: white;
}
.button-style-1:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #b80606;
}
.button-style-1:active span::before {
  background: black;
}

#gnosticism-dynamic {
  width: 300px;
  height: 200px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

body {
  margin: 0;
  color: white;
  background-color: #f4f4f4;
  background-image: url("images/swastika.png");
  background-size: 50px;
}

body.noscroll {
  overflow: hidden;
}

.container {
  width: 80%;
  margin: auto;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

#header-container {
  margin: 0;
  padding: 0;
}

header {
  background-color: #b80606;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0 0 3rem 0;
}
header h1 {
  margin: 0 0 0 1rem;
}
header nav .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header nav .menu a {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
  border-right: rgba(255, 255, 255, 0.534) 1px solid;
}
header nav .menu a li {
  padding: 1.5rem 1rem 1.5rem 1rem;
  transition: 0.5s;
}
header nav .menu a:hover {
  background-color: #f4f4f4;
  color: #b80606;
}
header nav .menu a:last-child {
  border: none;
  border-bottom-right-radius: 10px;
}

.main-content {
  display: block;
  margin: 0 0 0 0;
  padding: 2rem 0 5rem 0;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 10px;
}
.main-content h1 {
  text-align: center;
  font-size: 3rem;
}

#swastika {
  animation: spin 1s linear infinite;
}

/* Main Content Section */
.article {
  padding: 0;
  color: white;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 5rem 5rem 5rem;
}
.article .aricle-text {
  flex: 1;
}
.article .aricle-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.article .aricle-text p {
  font-size: 1rem;
  line-height: 1.6;
}
.article img {
  width: 300px;
  height: auto;
}
.article:last-child {
  margin-bottom: 0;
}

/* Footer */
footer {
  background-color: #b80606;
  color: white;
  padding: 1rem 0;
  margin: 3rem 0 0 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
footer .footer {
  text-align: center;
  width: 80%;
  margin: auto;
}

.warning-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/ashtar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  z-index: 9999;
  /* Ensure it stays on top */
  visibility: visible;
  /* Initially visible */
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.warning-overlay .warning-content {
  border-radius: 8px;
  text-align: center;
  width: 100% px;
}
.warning-overlay .warning-content h1 {
  color: red;
  background-color: black;
  font-size: 60px;
}
.warning-overlay .warning-content p {
  color: red;
  background-color: black;
  font-size: 30px;
}

.active {
  background-color: #f4f4f4 !important;
  color: #b80606 !important;
}

/*# sourceMappingURL=style.css.map */
