$primary-color: #000000;
$background-color: #f4f4f4;
$link-color: #007bff;
$background-image: url('images/swastika.png');
$background-image-2: url('images/bg-image-2-upscaled.jfif');

// npx sass -w style.scss style.css

@font-face {
    font-family: OldEnglishFive;
    src: url('fonts/old-english-five.regular.ttf');
}

@font-face {
    font-family: Canterbury;
    src: url('fonts/canterbury.regular.ttf');
}

@mixin center80 {
    width: 80%;
    margin: auto;
}

@mixin colorred_bgblack {
    color: red;
    background-color: black;
}

@mixin white_border {
    border: 1px solid white;
}

@mixin glow {
    //   box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    animation: glow-flash 15s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes glow-flash {
    0% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }

    50% {
        box-shadow: 0 0 20px rgba(189, 232, 247, 0.8);
    }

    100% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
}

.iframe-wrapper {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */

}

/* Overlay Styles */

.button-style-1 {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: red;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 5px;

    span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: -1;
        border: 4px solid red;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 8%;
            height: 500%;
            background: var(--lightgray);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-60deg);
            transition: all 0.7s;
        }
    }

    &:hover {
        color: white;

        span::before {
            transform: translate(-50%, -50%) rotate(-90deg);
            width: 100%;
            background: red;
        }
    }

    &:active {
        span::before {
            background: black;
        }
    }
}



#gnosticism-dynamic {
    width: 300px;
    height: 200px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

body {
    margin: 0;
    color: white;
    background-color: $background-color;
    background-image: $background-image-2;
    background-size: cover;
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* prevents tiling */
    background-attachment: fixed;
    // font-family: Canterbury;
}

body.noscroll {
    overflow: hidden;
}

.container {
    @include center80;

}

.hero-image {
    @include glow;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

#header-container {
    margin: 0;
    padding: 0;

}

header {
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0 0 3rem 0;
    @include glow;

    h1 {
        margin: 0 0 0 1rem;
    }

    nav {
        .menu {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                position: relative; // Needed for positioning submenu

                a {
                    display: block;
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    transition: color 0.5s, background-color 0.2s;
                    border-right: rgba(255, 255, 255, 0.534) 1px solid;
                    padding: 1.5rem 1rem;
                    display: inline-flex;
                    align-items: center;
                    gap: 0.3rem;

                    &:hover {
                        background-color: $background-color;
                        color: $primary-color;
                    }
                }

                .dropdown-icon {
                    display: block; // remove any inline gap issues
                    width: 16px; // adjust icon size as needed
                    height: auto;
                }

                &:last-child a {
                    border: none;
                    // border-bottom-right-radius: 10px;
                }

                // Submenu styling
                &.has-submenu {
                    .submenu {
                        display: none !important;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: $primary-color;
                        // border-radius: 10px 10px 10px 10px;
                        white-space: nowrap;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-direction: row;
                        // @include glow;
                        box-shadow:
                            -10px 0 20px -10px rgba(255, 255, 255, 0.8),
                            /* left shadow */
                            10px 0 20px -10px rgba(255, 255, 255, 0.8);
                        /* right shadow */


                        li {
                            list-style: none;

                            a {
                                padding: 1rem;
                                white-space: nowrap;
                                border-right: 1px solid rgba(255, 255, 255, 0.3);
                            }

                            &:last-child a {
                                border-right: none;
                            }
                        }
                    }

                    &:hover .submenu {
                        display: flex !important;
                        height: 3rem;
                    }
                }
            }
        }
    }
}



.main-content {
    display: block;
    margin: 0 0 0 0;
    padding: 2rem 0 5rem 0;
    background-color: rgb(0, 0, 0);
    // @include white_border;
    border-radius: 10px;
    @include glow;

    h1 {
        text-align: center;
        font-size: 3rem;
    }

}

#swastika {
    animation: spin 1s linear infinite;
}

#black-sun {
    animation: spin 2.5s linear infinite;
}

hr {
    width: 80%;
    border-color: rgba(255, 255, 255, 0.467);
    margin: 1rem auto 5rem auto;
    @include glow;
}

/* Main Content Section */
.article-type-1 {
    padding: 0;
    color: white;
    display: flex;
    align-items: flex-start; // or center if you want vertical alignment
    gap: 40px;
    margin: 0 5rem 5rem 5rem;


    .aricle-text {

        flex: 1;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
        }


    }

    img {
        width: 300px;
        height: auto;
    }

    .glow {
        @include glow;
    }

    &:last-child {
        margin-bottom: 0;
    }

}

.article-type-2 {
    padding: 0;
    color: white;
    margin: 0 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .article-top {
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }

    .aricle-text {
        flex: 1;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
        }
    }

    img {
        width: 300px;
        height: auto;
    }

    .bottom-image {
        align-self: center;
        /* optional: center the image */
        width: 100%;

    }
}

.article-type-3 {
    padding: 0;
    color: white;
    margin: 0 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        flex: 1;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 2rem;
        padding: 0 2rem;
        width: 70%;
        margin: auto;


        .card {
            text-align: center;
            padding: 1.5rem;
            // flex: 1;
            width: 40%;
            height: 18rem;
            transition: 1s;

            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%; // makes the image round
                margin-bottom: 1rem;
            }

            h3 {
                font-size: 2rem;
            }

            p {
                margin: 0;
                font-size: 1.5rem;
                display: none;
                transition: 1s;
            }

            &.separator {
                border-left: 1px solid rgba(255, 255, 255, 0.467);
                border-right: 1px solid rgba(255, 255, 255, 0.467);

                // padding: 0 2rem;

            }

            &:hover {
                background-color: white;

                .card-img {
                    display: none;
                }

                .card-text {
                    display: block;
                    color: black;
                }

                .card-title {
                    color: black;
                }
            }


        }

        .bigger-card {
            width: 60%;

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%; // makes the image round
                margin-bottom: 1rem;
            }

            p {
                margin: 0;
                font-size: 2rem;

            }

            h3 {
                font-size: 2.5rem;
            }
        }

    }
}

.article-type-4 {
    padding: 0;
    color: white;
    margin: 0 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        flex: 1;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 2rem;
        padding: 0 2rem;
        width: 60%;
        margin: auto;


        .card {
            text-align: center;
            padding: 1.5rem;
            // flex: 1;
            width: 20%;

            transition: 1s;

            img {
                width: 130px;
                height: 130px;
                object-fit: cover;
                border-radius: 50%; // makes the image round
                margin-bottom: 1rem;
            }

            &.separator {
                border-left: 1px solid rgba(255, 255, 255, 0.467);
                border-right: 1px solid rgba(255, 255, 255, 0.467);

                // padding: 0 2rem;

            }

        }

    }
}

.article-type-5 {
    padding: 0;
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 5rem 5rem 5rem;


    .aricle-text {

        flex: 1;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
        }
    }

    .gallery {
        --s: 150px;
        /* control the size */
        display: grid;
        grid: auto-flow var(--s) / repeat(2, var(--s));
        gap: 10px;
        place-items: center;
        margin: calc(var(--s)/2);
        transform: rotate(45deg);
    }

    .gallery>img {
        width: 141%;
        /* sqrt(2)*100% */
        aspect-ratio: 1;
        object-fit: cover;
        filter: grayscale(80%);
        transform: scale(var(--_t, 1)) rotate(-45deg);
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        cursor: pointer;
        transition: .2s linear;
    }

    .gallery>img:hover {
        filter: grayscale(0);
        --_t: 1.15;
    }

    // body {
    //     margin: 0;
    //     min-height: 100vh;
    //     display: grid;
    //     place-content: center;
    //     background: #aabbfb;
    // }
}


/* Footer */
footer {
    background-color: $primary-color;
    color: white;
    padding: 1rem 0;
    margin: 3rem 0 0 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    @include glow;

    .footer {
        text-align: center;
        @include center80;
    }
}

.warning-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/ashtar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    z-index: 9999;
    /* Ensure it stays on top */
    visibility: visible;
    /* Initially visible */
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    .warning-content {


        border-radius: 8px;
        text-align: center;
        width: 100%px;


        h1 {
            @include colorred_bgblack;
            font-size: 60px;

        }

        p {
            @include colorred_bgblack;
            font-size: 30px;
        }


    }
}

.active {
    background-color: $background-color !important;
    color: $primary-color !important;
}