@font-face {
  font-family: OldEnglishFive;
  src: url("fonts/old-english-five.regular.ttf");
}
@font-face {
  font-family: Canterbury;
  src: url("fonts/canterbury.regular.ttf");
}
/* Overlay Styles */
body {
  margin: 0;
  color: white;
  background-color: #f4f4f4;
  background-image: url("images/swastika.png");
  background-size: 50px;
}

body.noscroll {
  overflow: hidden;
}

.container {
  width: 80%;
  margin: auto;
  background-color: black;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  background-color: #b80606;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 0;
}
header nav .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header nav .menu li {
  margin-left: 1rem;
  padding: 1rem 0 1rem 0;
  transition: 0.5s;
}
header nav .menu li a {
  display: block;
  text-decoration: none;
  color: white;
  /* Make sure the initial color is set */
  transition: color 0.5s, background-color 0.5s;
}
header nav .menu li:hover {
  background-color: #f4f4f4;
  /* Change background color */
}
header nav .menu li:hover a {
  color: #b80606;
  /* Change the text color when hovering */
}

.main-content {
  display: block;
  margin: 0;
  padding: 0;
}

/* Main Content Section */
.article {
  padding: 2rem 0;
  color: white;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 5rem;
}
.article .aricle-text {
  flex: 1;
}
.article .aricle-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.article .aricle-text p {
  font-size: 1rem;
  line-height: 1.6;
}
.article img {
  width: 300px;
  height: auto;
}

/* Footer */
footer {
  background-color: #b80606;
  color: white;
  padding: 1rem 0;
}
footer .footer {
  text-align: center;
  width: 80%;
  margin: auto;
}

.warning-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/primeupscaled.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  z-index: 9999;
  /* Ensure it stays on top */
  visibility: visible;
  /* Initially visible */
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.warning-overlay .warning-content {
  border-radius: 8px;
  text-align: center;
  width: 100% px;
}
.warning-overlay .warning-content h1 {
  color: red;
  background-color: black;
  font-size: 60px;
}
.warning-overlay .warning-content p {
  color: red;
  background-color: black;
  font-size: 30px;
}
.warning-overlay .warning-content button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #b80606;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}
.warning-overlay .warning-content button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #b80606;
}
.warning-overlay .warning-content button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.7s;
}
.warning-overlay .warning-content button:hover {
  color: white;
}
.warning-overlay .warning-content button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #b80606;
}
.warning-overlay .warning-content button:active span::before {
  background: black;
}

/*# sourceMappingURL=style.css.map */
